
/* Must import font )Press Sart 2P) at the start of the CSS file*/
@import url('http://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

p {
    font-family: 'Press Start 2P', cursive;
}
h1 {
    /* Google Fonts provides this for us (Copied /pasted from fonts. google.com) */
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    /* font-weight: 700; */
}